/* mobile responsive */

@media screen and (max-width: 576px) {
  /* start nav style  */
  .nav-container {
    flex-direction: column;

    width: 100%;
    font-size: 1.5rem;
  }
  .logo-container {
    justify-content: center;
    width: 100%;
    margin: 10px auto;
  }
  .nav-items {
    flex-direction: column;
  }
  .nav-items > a {
    margin: 10px auto;
  }
  .follow-btn {
    margin: 10px auto;

    justify-content: center;
  }
  /* start banner style  */
  .banner-container {
    flex-direction: column-reverse;
    align-items: center;
  }
  .banner-content,
  .banner-photos {
    width: 100%;
  }
  .video-games-title,
  .coloring-text {
    font-size: 1.8rem;
    font-weight: 700;
  }
  .video-games-description {
    font-size: 1rem;
  }

  .gaming-videos {
    grid-template-columns: repeat(1, 1fr);
    margin-bottom: 20px;
  }
  .play-instant-container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .play-content {
    width: 100%;
    align-items: center;
    text-align: center;
  }
  .play-title {
    font-size: 2rem;
  }
  .play-photos {
    width: 100%;
    margin-top: 30px;
  }
  .hero {
    width: 100%;
    display: block;
  }
  .angel {
    transform: translate(-50px, -120px);
    /* position: absolute;
    top: 420px;
    left: 50px; */
    width: 40%;
    display: block;
  }
  /* game category style here  */
  .game-categorys {
    align-content: center;
    width: 100%;
  }
  .game-categorys div {
    width: 100%;
    margin: 0 5px;
  }
  .game-categorys div img {
    width: 30px;
  }
  .game-categorys div a {
    font-size: 1rem;
    font-weight: 400;
  }
  .action {
    grid-column: 1/5;
  }
  .adventure {
    grid-column: 5/9;
  }
  .arcade {
    grid-column: 9/-1;
  }
  .educational {
    grid-column: 1/5;
  }
  .word {
    grid-column: 5/9;
  }
  .role {
    grid-column: 9/-1;
  }
  .musice {
    grid-column: 1/5;
  }
  .puzzle {
    grid-column: 5/9;
  }
  .strategy {
    grid-column: 9/-1;
  }
}
/* tablet responsive */
@media screen and (min-width: 576px) and (max-width: 992px) {
  /* start nav style  */
  .nav-container {
    flex-direction: column;

    width: 100%;
    font-size: 1.5rem;
  }
  .logo-container {
    justify-content: center;
    width: 100%;
    margin: 10px auto;
  }
  .nav-items {
    flex-direction: column;
  }
  .nav-items > a {
    margin: 10px auto;
  }
  .follow-btn {
    margin: 0 auto;
  }
  /* start banner style  */
  .banner-container {
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
  }
  .banner-content,
  .banner-photos {
    width: 100%;
  }
  /* gaming video style here  */
  .gaming-videos {
    grid-template-columns: repeat(2, 1fr);
  }
  .play-instant-container {
    flex-direction: column;
    align-items: center;
  }
  .play-content {
    width: 100%;
    text-align: center;
  }
  .play-title {
    font-size: 2.5rem;
  }
  .play-photos {
    width: 100%;
    padding: 50px;
  }
  /* .hero {
    width: 100%;
    display: block;
  }
  .angel {
    transform: translate(-200 px, -200px);
    position: absolute;
    width: 40%;
    display: block;
  } */
  .hero {
    width: 100%;
    display: block;
  }
  .angel {
    transform: translate(-95px, -200px);
    position: absolute;
    width: 40%;
    display: block;
  }
  /* game category stayle here */
  .game-categorys {
    /* grid-template-rows: repeat(3, 80px); */
    align-content: center;
    width: 100%;
  }
  .game-categorys div {
  }
  .game-categorys div img {
    width: 30px;
  }
  .game-categorys div a {
    font-size: 1rem;
    font-weight: 400;
  }
  .action {
    grid-column: 1/5;
  }
  .adventure {
    grid-column: 5/9;
  }
  .arcade {
    grid-column: 9/-1;
  }
  .educational {
    grid-column: 1/5;
  }
  .word {
    grid-column: 5/9;
  }
  .role {
    grid-column: 9/-1;
  }
  .musice {
    grid-column: 1/5;
  }
  .puzzle {
    grid-column: 5/9;
  }
  .strategy {
    grid-column: 9/-1;
  }
}
